.DS_Store

# Firebase config files with sensitive data
/smart-parking-web/lib/serviceAccountKey.json

# Dependency directories
/smart-parking-web/node_modules/
/smart-parking-web/.next/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.venv

*.iml
.gradle
/local.properties
Android/.idea/
Android/app/build/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Backend secrets
server/server/.env
server/server/serviceAccountKey.json
